rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /forum/{database} {
      allow read, create: if canAccess(request.auth)
      
    }
    match /forum/{database}/replies/{reply} {
    	
      allow read, create: if canAccess(request.auth)
    }
    match /user/{profile} {
    
    	allow read: if canAccess(request.auth)
    
    }
    
    match /predictions/{prediction} {
			allow read: if canAccess(request.auth)
      allow write: if (canAccess(request.auth) && get(/databases/$(database)/documents/user/$(request.auth.token.email.split("@")[0])).data.admin == true)
    }
    
    match /predictions/{prediction}/votes/{userPrediction} {
    	allow create: if (canAccess(request.auth) && (request.auth.uid == request.resource.id)) 
      allow read: if (canAccess(request.auth) && (request.auth.uid == userPrediction))
     
    }
    
    function canAccess(auth) {
      
      	return (auth != null) && (auth.token.email.split("@")[1] == "wwprsd.org");
      }
  }
}